@model IEnumerable<CargoLogistic.WebUI.Models.PostCargoListDetailsModel>

<h2>ListAllPost</h2>

@Html.DisplayForModel("PostListDisplay")

<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>