@model IEnumerable<CargoLogistic.WebUI.Models.PostCargoDetailsModel>

<h2>List All CargoPost</h2>

@Html.DisplayForModel("PostListDisplay")

<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>