
@{
    ViewBag.Title = "Index";
}


<div id="user-menu">
    <ul>
        <li><a href="#tabs-1">My Loads Post</a></li>
        <li><a href="#tabs-2">My Truck Post</a></li>
        <li><a href="#tabs-3">User Setting</a></li>
    </ul>
    <div id="tabs-1">
        @Html.ActionLink("My Loads Post List", "PostCargoList", "ClientProfile")
        @Html.ActionLink("Create Postcargo", "CreatePost")
    </div>
    <div id="tabs-2">
        <a href="#">User's Truck Post</a>
    </div>
    <div id="tabs-3">
        @Html.ActionLink("Change Password", "Manage", "Account")
        <hr/>
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Admin", "Index", "Admin")
               
            }
        }
    </div>
</div>
