@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CargoTransport SRL<br />
    Chisinau, str. Stefan Cel Mare 171/2 bir 25<br />
    <abbr title="Phone">Phone: +37315644465</abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gmail.com">Support@cargologistic.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gmail.com">Marketing@cargologistic.com</a>
</address>

