@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CargoTransport</h1>
    <p class="lead">Fast and Easy Freight Solutions</p>
    @Html.ActionLink("All Post  »", "ListAllPost", "PostCargo", null, new {@class= "btn btn-primary btn-large" })<div></div>
</div>

