@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CargoTransport</h1>
    <p class="lead">Fast and Easy Freight Solutions</p>
    <p><a href="#" class="btn btn-primary btn-large">All Posts &raquo;</a></p>
</div>

<div class="row">
    
</div>