@model IEnumerable<CargoLogistic.WebUI.Models.PostTransportDetailsModel>

<h2>List All TransportPost</h2>

@Html.DisplayForModel("PostTransportListDisplay")

<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>