
@{
    ViewBag.Title = "Index";
}

<h2>ADMIN</h2>

<hr />
@Html.ActionLink("Role List", "RoleList", "Role")
<hr />
@Html.ActionLink("Register Roles", "RegisterRole", "Account")
<hr />
@Html.ActionLink("Create new role", "CreateRole", "Role")
<hr/>
@Html.ActionLink("Country", "Index", "Country")










