@helper DisplayStatus(bool status)
{
    if (status)
    {
        <span style="color:cornflowerblue"><b>Published</b></span>
    }
    else
    {
        <span style="color: brown">Unpublished</span>
    }

}

