
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-3">
        <hr />
        @Html.ActionLink("Prosta experiment", "List", "Country")
        <hr />
        @Html.ActionLink("Country List","CountryList","Country")
      
    </div>

</div>
