@using CargoLogistic.Domain.Entities
@model IEnumerable<CargoLogistic.Domain.Entities.Country>

@{
    ViewBag.Title = "List of Country";
}

@foreach (var c in Model)
{
    <div>
        <h3>@c.Alpha2Code - @c.Name - @c.NumericCode</h3>
        <p>=============================</p>
    </div>
}

